*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

 body{
    font-family: 'gilroy-extrabold',sans-serif;
 }

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 274px;
    background: #C1D7F7;
}

.head{
    display: flex;
    gap: 43px;
}

.img__header{
    padding-top: 14px;
    padding-bottom: 17px;
}

.header__link1{
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #154EA0;
}

.header__link{
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #000000;
}

.top{
    padding: 24px 38px 24px 38px;
    background: #EDF3FC;
    border: 1px;
    border-radius: 2px;
}

.img__top{
    width: 100%;
}

.slog{
    margin: -148px 370px 25px 10px; 
    padding: 8px 15px 15px 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, #d9d9d90c, transparent); */
    background: #d9d9d990;
    mix-blend-mode: screen;
    /* Не получается сделать нормальный отступ и текст на картинке */
}

.title{
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.15em;
    /* color: #000; */
}

.body{
    /* margin-top: 40px; */
    padding: 65px 36px 22px 38px;;
    background: #EDF3FC;
    border: 1px;
    border-radius: 2px;
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #424346;
}

.footer{
    background: #EDF3FC;
    border: 1px;
    border-radius: 2px;
}

.subtitle{
    display: block;
    padding: 1px 301px 44px 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #000000;
}

.contacts{
    padding: 39px 25px 21px 358px;
    width: 5%;
}
    