*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.header{
    background: #C1D7F7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.header__link{
    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #000000;
}