.about {
    @extend %center;
    padding-top: 57px;
    padding-bottom: 57px;


    &__title {
        padding-bottom: 28px;
        color: $colorText;
        text-align: center;
        font-size: $sizeTitle;
        font-weight: $weightFontBold;
        line-height: 50px;
        max-width: 1390px;
    }

    &__text {
        color: $colorText;
        font-size: $sizeText;
        font-weight: $weightFontLight;
        line-height: 30px;
        letter-spacing: 3.6px;
        max-width: 1390px;
    }

    &__order{
        padding-top: 66px;
        padding-left: 50px;
    }
}