.about {
    @extend %center;
    padding-top: 57px;
    padding-bottom: 57px;


    &__title {
        padding-bottom: 28px;
        color: $colorText;
        text-align: center;
        font-size: $sizeTitle;
        font-weight: $weightFontBold;
        line-height: 50px;
        max-width: 1390px;
    }

    &__text {
        color: $colorText;
        font-size: $sizeText;
        font-weight: $weightFontLight;
        line-height: 30px;
        letter-spacing: 3.6px;
        max-width: 1390px;
    }

    &__order {
        padding-top: 66px;
        padding-left: 50px;
    }
}

// Nest Hub Max
//  Для страницы index
@media (max-width: 1280px) {
    .subheader {
        padding-left: calc(50% - 960px/2);
        padding-right: calc(50% - 960px/2);
    }

    .about {
        padding-left: calc(50% - 960px/2);
        padding-right: calc(50% - 960px/2);
    }
}

/* Стили для планшета */
//  Для страницы index
@media (max-width: 1024px) {
    .subheader {
    padding-left: calc(50% - 660px/2);
    padding-right: calc(50% - 660px/2);

    &__title{
        font-size: 34px;
    }
    }

    .about {
        padding-left: calc(50% - 660px/2);
        padding-right: calc(50% - 660px/2);

        &__title{
            font-size: 34px;
        }
    }
}

/* Стили для среднего телефона */
//  Для страницы index
@media (max-width: 767px) {
    // padding-left: calc(50% - 360px/2);
    // padding-right: calc(50% - 360px/2);

}