.contacts {
    @extend %center;
    padding-top: 100px;
    padding-bottom: 102px;

    &__text {
        color: #846343;
        font-family: Cormorant SC;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 50px;
    }

    &__title {
        color: #846343;
        text-align: center;
        font-family: Cormorant SC;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        /* 156.25% */
    }
}

// Nest Hub Max
//  Для страницы index
@media (max-width: 1280px) {
    .contacts {
        padding-left: calc(50% - 960px/2);
        padding-right: calc(50% - 960px/2);
    }
}

/* Стили для планшета */
//  Для страницы index
@media (max-width: 1024px) {
    .contacts{
        padding-left: calc(50% - 660px/2);
        padding-right: calc(50% - 660px/2);
    }

}

/* Стили для среднего телефона */
//  Для страницы index
@media (max-width: 767px) {
    .contacts {}
}