.form {
    @extend %center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

    &__title {
        color: $colorSite;
        font-size: 36px;
        font-style: normal;
        font-weight: $weightFontMedium;
        line-height: $lineHeight;
    }

    &__input {
        margin-bottom: 32px;
        width: 516px;
        height: 74px;
        background: #C3B09D;
        border: none;
    }

    &__button {
        margin-top: 15px;
        width: 254px;
        padding-top: 17px;
        padding-bottom: 17px;
        color: $colorText;
        font-size: $sizeText;
        font-style: normal;
        font-weight: $weightFontMedium;
        line-height: $lineHeight;
        border: none;
        background: rgba(195, 176, 157, 0.41);
        transition: all 0.4s;
    }

    &__button:hover {
        color: #F4F2EF;
        background: $colorSite;
    }

    &__button:active {
        color: $colorText;
        background: rgba(195, 176, 157, 0.41);
    }
}

// Nest Hub Max
//  Для страницы index
@media (max-width: 1280px) {
    .contacts {
        padding-left: calc(50% - 960px/2);
        padding-right: calc(50% - 960px/2);
    }
}

/* Стили для планшета */
//  Для страницы index
@media (max-width: 1024px) {
    .contacts {
        padding-left: calc(50% - 660px/2);
        padding-right: calc(50% - 660px/2);

        &__title {
            font-size: 26px;
        }

        &__text {
            font-size: 26px;
        }
    }
}

/* Стили для среднего телефона */
//  Для страницы index
@media (max-width: 767px) {
    .contacts {
        padding-left: calc(50% - 360px/2);
        padding-right: calc(50% - 360px/2);

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 20px;
        }
    }
}