.headeri {
    @extend %center;
    @extend %flex__space_between;
    background: $colorSite;
    padding-top: 23px;
    padding-bottom: 30px;

    &__logo {
        color: $colorLightSelectSite;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 48px;
        font-style: normal;
        font-weight: $weightFontBold;
        line-height: normal;
    }

    #burger-menu {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin-right: 50px;
        overflow: visible;
        position: relative;
        z-index: 2;
    }

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
        background: $colorLightSelectSite;
        display: block;
        height: 4px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
    }

    #burger-menu span:before,
    #burger-menu span:after {
        content: "";
    }

    #burger-menu span {
        right: 0px;
        top: 13px;
        width: 70px;
        display: block;
        transition: 0.7s;
    }

    #burger-menu span:hover {
        background-color: $colorSelectSite;
    }

    #burger-menu span:before {
        left: 0px;
        top: -20px;
        width: 70px;
        display: block;
        transition: 0.7s;
    }

    #burger-menu span:hover::before{
        background-color: $colorSelectSite;
    }

    #burger-menu span:after {
        left: 0px;
        top: 20px;
        width: 70px;
        display: block;
        transition: 0.7s;
    }

    #burger-menu span:hover::after{
        background-color: $colorSelectSite;
    }

    #burger-menu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 70px;
        transition: 0.7s;
    }

    #burger-menu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 70px;
        transition: 0.7s;
    }

    #burger-menu.close span:after {
        top: 0px;
        left: 0;
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
        transition: 0.7s;
    }

    #menu {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-left: 71%;
        z-index: 2;
        min-width: 370px;
        min-height: 420px;
        position: fixed;
        top: 112px;
        visibility: hidden;
        opacity: 0;
        text-align: left;
        padding-top: 20px;
        transition: all 0.3s ease-in-out;
    }

    #menu.overlay {
        visibility: visible;
        opacity: 1;
        padding-bottom: 30px;
        background: $colorLightSelectSite;
    }

    #menu li {
        padding-top: 17px;
        color: $colorSelectSite;
        font-size: 32px;
        font-weight: $weightFontBold;
        line-height: 50px;
        list-style: none;
    }

    #menu a {
        color: $colorText;
        font-size: 24px;
        font-weight: $weightFontBold;
        line-height: $lineHeight;
    }

    #menu a:hover{
        color: $colorSite;
    }

    .menu__bord {
        margin-left: 55px;
        padding-bottom: 17px;
        padding-left: 0px;
        border-bottom: 1px solid $colorSelectSite;
        max-width: 260px;
    }

    .menu__center {
        text-align: center;
    }

    .menu_psition {
        padding-left: 55px;
    }
}

.slog {
    @extend %center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
        padding-top: 217px;
        padding-bottom: 30px;
        width: 398px;
        color: $colorText;
        font-size: $sizeTitle;
        font-style: normal;
        font-weight: $weightFontBold;
        line-height: 50px;
    }

    &__text {
        width: 398px;
        color: $colorText;
        font-size: $sizeText;
        font-style: normal;
        font-weight: $weightFontRegular;
        line-height: 30px;
        letter-spacing: 3.6px;
    }

    &__img {
        padding-top: 42px;
        padding-bottom: 55px;
    }
}

.content {
    @extend %center;
    display: grid;
    grid-template-columns: repeat(3, 432px);
    gap: 53px;

    &__text {
        text-align: center;
        padding-bottom: 58px;
        color: $colorText;
        font-size: $sizeText;
        font-style: normal;
        font-weight: $weightFontBold;
        line-height: $lineHeight;
        letter-spacing: 3.6px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    .item {
        transition: 1s;
    }

    .item:hover {
        transform: scale(1.2);
    }
}

.button {
    @extend %center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__border {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 76px;
        padding: 32px 20px;
        width: 282px;
        border-radius: 100%;
        border: 2px solid #C3B09D;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: all 0.7s;
    }

    &__link {
        color: $colorSelectSite;
        font-size: $sizeText;
        font-style: normal;
        font-weight: $weightFontBold;
        line-height: $lineHeight;
        letter-spacing: 3.6px;
    }

    &__border:hover {
        border: 2px solid #F4F2EF;
        background: #C3B09D;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .button__link {
            color: $colorLightSelectSite;
        }
    }

    &__border:active {
        border: 2px solid #C3B09D;
        background: #F4F2EF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .button__link {
            color: $colorSelectSite;
        }
    }
}

.footer {
    @extend %center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $colorSite;

    &__text {
        padding-top: 38px;
        padding-bottom: 38px;
        font-family: 'Roboto', sans-serif;
        color: rgba(244, 242, 239, 0.95);
        font-family: Roboto;
        font-size: $sizeText;
        font-style: normal;
        font-weight: $weightFontRegular;
        line-height: $lineHeight
    }

    &__icon {
        display: flex;
        gap: 15px;
    }

    &__link {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .link__background {
        transition: 0.7s;
    }

    .link__color {
        transition: 0.7s;
    }

    svg:hover .link__background {
        fill: #C3B09D;
    }

    svg:hover .link__color {
        fill: #F4F2EF;
    }
}