.headeri {
    @extend %center;
    @extend %flex__space_between;
    background: $colorSelectSite;
    padding-top: 23px;
    padding-bottom: 30px;

    &__logo {
        color: $colorLightSelectSite;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 48px;
        font-style: normal;
        font-weight: $weightFontBold;
        line-height: normal;
    }

    &__menu:hover {
        fill: #846343;
    }
}

.slog {
    @extend %center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
        padding-top: 217px;
        padding-bottom: 30px;
        width: 398px;
        color: $colorText;
        font-size: $sizeTitle;
        font-style: normal;
        font-weight: $weightFontBold;
        line-height: 50px;
    }

    &__text {
        width: 398px;
        color: $colorText;
        font-size: $sizeText;
        font-style: normal;
        font-weight: $weightFontRegular;
        line-height: 30px;
        letter-spacing: 3.6px;
    }

    &__img {
        padding-top: 42px;
        padding-bottom: 55px;
    }
}

.content {
    @extend %center;
    display: grid;
    grid-template-columns: repeat(3, 432px);
    gap: 35px;

    &__text {
        text-align: center;
        padding-bottom: 58px;
        color: $colorText;
        font-size: $sizeText;
        font-style: normal;
        font-weight: $weightFontBold;
        line-height: $lineHeight;
        letter-spacing: 3.6px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
}

.button {
    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 76px;
        padding: 32px 20px;
        width: 282px;
        border-radius: 100%;
        border: 2px solid #C3B09D;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .button__link {
            color: $colorSelectSite;
            font-size: $sizeText;
            font-style: normal;
            font-weight: $weightFontBold;
            line-height: $lineHeight;
            letter-spacing: 3.6px;
        }
    }
}