.subheader {
    @extend %center;
    padding-top: 28px;
    padding-bottom: 28px;
    background: rgba(195, 176, 157, 0.41);

    &__title {
        color: $colorText;
        font-size: $sizeTitle;
        font-style: normal;
        font-weight: $weightFontBold;
        line-height: 50px;
    }
}

.content__product {
    padding-top: 56px;
    padding-bottom: 65px;

    .el {
        transition: 1s;
    }

    .el:hover {
        transform: scale(1.2);
    }
}

// Nest Hub Max
//  Для страницы index
@media (max-width: 1280px) {
    .content {
        padding-left: calc(50% - 960px/2);
        padding-right: calc(50% - 960px/2);

        &__img {
            width: 300px;
        }
    }
}

/* Стили для планшета */
//  Для страницы index
@media (max-width: 1024px) {
    .content {
        padding-left: calc(50% - 660px/2);
        padding-right: calc(50% - 660px/2);

        &__img {
            width: 200px;
        }
    }
}

/* Стили для среднего телефона */
//  Для страницы index
@media (max-width: 767px) {
    .content {
        padding-left: calc(50% - 360px/2);
        padding-right: calc(50% - 360px/2);

        &__img {
            width: 300px;
        }
    }
}