.top {
    background: $colorLightSelectSite;

    .header {
        &__title {
            color: #89725B;
            font-family: Cormorant SC;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 12.8px;
        }
    }
}