.header {

    .head {
        border: 1px solid $colorSelectSite;
        margin: 60px 100px 0px 100px;
        @extend %center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__logo {
            padding-bottom: 35px;
        }

        &__title {
            padding-bottom: 49px;
            color: $colorSelectSite;
            font-size: $sizeFontMax;
            font-style: normal;
            font-weight: $weightFontBold;
            line-height: 30px;
            letter-spacing: 12.8px;
        }

        &__text {
            padding-top: 49px;
            padding-bottom: 108px;
            color: $colorSelectSite;
            font-size: 20px;
            font-style: normal;
            font-weight: $weightFontMedium;
            line-height: normal;
            letter-spacing: 4px;
        }
    }
}