$widthSite: 1400px;
$colorSelectSite: #89725B;
$colorSite:#C3B09D;;
$colorLightSelectSite: #F4F2EF;
$colorText: #846343;
$sizeFontMax: 64px;
$sizeTitle: 40px;
$sizeText: 24px;
$weightFontLight: 300;
$weightFontRegular: 400;
$weightFontMedium: 500;
$weightFontSemiBold: 600;
$weightFontBold: 700;
$lineHeight: 30px;