@import 'vars';
@import 'position';
@import 'start';
@import 'index';
@import 'kitchen';
@import 'form';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cormorant SC', serif;
    background: $colorLightSelectSite;
}

a{
    text-decoration: none;
}
