@import 'vars';
@import 'position';
@import 'start';

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Cormorant SC', serif;
}

.top {
    background: $colorLightSelectSite;
    width: 100vh;
}